<ion-header>
    <ion-navbar>
        <ion-title>
            Data pull
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h1>Remote fetch</h1>
    <p>List 1</p>
    <ion-list>
        <ion-item *ngFor="let item of items">
            <button ion-button (click)="openWithCordovaBrowser(item.url)">{{ item.name }}</button>
        </ion-item>
    </ion-list>

    <p>List 2</p>
    <ion-list>
        <ion-item *ngFor="let content of contents">
            <button ion-button (click)="openWithCordovaBrowser(content.url)">{{ content.name }}</button>
        </ion-item>
    </ion-list>
</ion-content>
