<ion-header>
  <ion-navbar>
    <ion-title>In-store Companion</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-img width=382 height=40 src="assets/imgs/tbs_header.jpg"></ion-img>
    <h1>IMPORTANT</h1>
    <p>Please ensure that you keep this iPad in Guided Access Mode</p>
    <p>Otherwise Skeddy gets really, really grumpy</p>
    <h2>Available apps</h2>
  <p>
    Please select from one of the apps below
  </p>

    <button ion-button (click)="openWithCordovaBrowser('https://www.thebodyshop.com')">The Body Shop Website</button>
    <button ion-button (click)="openWithCordovaBrowser('https://foreveragainstanimaltesting.com/page/9140/petition/1')">FAAT Petition</button>
    
</ion-content>
