<ion-header>
    <ion-navbar>
        <ion-title>
            Live Refresh
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h1>Users</h1>

    <ion-list>
        <ion-item *ngFor="let x of users">
            <ion-avatar item-start>
                <img src="{{x.picture.large}}">
            </ion-avatar>
            <h2>{{x.name.title}}. {{x.name.first}}</h2>
            <p>{{x.email}}</p>
            <ion-note item-end>{{x.registered}}</ion-note>
        </ion-item>
    </ion-list>

    <ion-refresher (ionRefresh)="load($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

</ion-content>
